h1 {
  font-size: 40px;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 25px;
  font-family: Arial, sans-serif;
}

h3 {
  font-family: Arial, sans-serif;
}

p {
  font-size: 14px;
  
  font-family: Arial;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;

  font-family: Arial, sans-serif;
}

/* New styles for header */
header {
  background-color: blue; /* Change to your desired color */
  padding: 10px 20px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px; /* Adjust size as needed */
  height: auto;
  margin-right: 20px;

}
